# Project-wide ignore rules
.gradle/
build/
/local.properties
.idea/

# Android specific
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
captures/
.navigation/
.externalNativeBuild
obj/

# Gradle
gradle-daemon-jvm.properties

# Log files
*.log

# Keystores
*.jks
*.keystore

# macOS
.DS_Store
